<li id="comment-<%= comment.id %>">
  <% cuser = User.find(comment.user_id) %>

  <%= link_to gravatar_for(cuser, size: 50), cuser %>

  <span class="user"><%= link_to cuser.name, cuser %></span>
  
  <span class="post_title"><%= comment.content %></span>

  <span class="timestamp">
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>